.hero {
  background-color: black;
}

.announcement {
  background-image: url("../assets/RESERVA.svg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

.dive {
  background-color: #09090b;
}

.skills {
  background-color: #09090b;
}

.ask {
  background-image: url("../assets/curvedstripe.svg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

.projects {
  background-color: black;
}

.collaborate {
  background-color: #000000;
}
